{% extends "layout.html.twig" %}

{% block content %}	
<link rel="stylesheet" href="{{ asset ('assets/css/inscription.css') }}">
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background: radial-gradient(circle, rgba(147,203,85,1) 78%, rgba(134,193,133,1) 100%);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Inscription</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card1">
        <form onsubmit="event.preventDefault()" class="box1">
          <p class="text-muted">Veuillez saisir vos données</p>
          <input type="text" name="" placeholder="Nom" />
          <input type="text" name="" placeholder="Prénom" />
          <input type="text" name="" placeholder="Rue" />
          <input type="text" name="" placeholder="Numéro" />
          <input type="text" name="" placeholder="CP" />
          <input type="text" name="" placeholder="Ville" />
          <input type="text" name="" placeholder="Email" />
          <input type="password" name="" placeholder="Mot de passe" />
          <a class="forgot text-muted" href="{{ path ('login') }}">Vous avez déjà un compte ?</a>
          <input type="submit" name="" value="S'inscrire" href="" />
          <div class="col-md-12">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}
