{% extends "layout.html.twig" %}

{% block content %}

{% for publication in basket %}
    <div>{{ publication.id }}</div>
        <form method="post">
            <button>Remove</button>
            <input type="hidden" name="id" value="{{ publication.id }}">
        </form>
    </div>
{% endfor %}
{% endblock %}
